body {
    background-color: blanchedalmond;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

nav {
    text-align: start;
    display: flex;
    margin: auto;
    justify-content: right;
    list-style-type: none;
    padding-right: 40px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:blue;
    text-decoration: underline;
   }

   .rodape{
    margin: auto;
       margin-top: 23rem;
width: 1%;
   }

img {
    float: right;
}


